* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

body {
  overflow-x: hidden;
  font-family: sf-ui-light, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "sf-ui-display";
  src: url("/public/fonts/SFUIDisplay-Regular.otf");
}

@font-face {
  font-family: "sf-ui-light";
  src: url("/public/fonts/SFUIText-Light.otf");
}

nav {
  height: 10vh;
  border-bottom: 1px solid gray;
  font-size: 22px;
  position: fixed;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
}

nav .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 5%;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 30%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav-links li a:hover {
  background-color: #efefef;
}

h2 {
  font-family: sf-ui-display;
  margin-top: 40px;
  font-size: 45px;
  color: #333333;
}

.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  font-size: 104px;
  font-family: sf-ui-display;
  font-weight: 400;
  color: #333333;
}

.hero h1 img {
  height: 100px;
  position: relative;
  top: 10px;
}

.hero p {
  font-size: 30px;
  width: 80%;
  margin: auto;
}

.container {
  max-width: 80%;
  margin: auto;
  padding-top: 10vh;
}

.projects {
  background-color: #f5f5f7;
  text-align: center;
}

.projects a {
  color: #333333;
  font-size: 25px;
  text-decoration: none;
}

.projects a:hover #arrow {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .proj {
  width: 513px;
  margin: 30px;
  background-color: gray;
}

.project-container .proj img {
  width: 100%;
  height: auto;
}

figure {
  position: relative;
  overflow: hidden;
}

figure img {
  display: block;
}

figure figcaption {
  position: absolute;
  top: 110%;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(78, 67, 194, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2em;
  opacity: 0;
  -webkit-transition: opacity ease-in 200ms;
  transition: opacity ease-in 200ms;
}

figure figcaption h4 {
  font-size: 40px;
  color: white;
}

figure figcaption p {
  color: white;
}

figure:hover figcaption,
figure:focus figcaption {
  opacity: 1;
  top: 0;
}

.aboutme {
  text-align: center;
  height: 100vh;
}

.aboutme p {
  margin-top: 40px;
  font-size: 25px;
}

.contact {
  background-color: #e3f0f6;
  height: 100vh;
  text-align: center;
}

@media screen and (max-width: 786px) {
  .container {
    max-width: 90%;
  }
  nav {
    position: fixed;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  .hamburger {
    background-color: yellow;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    -webkit-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;
    pointer-events: none;
    background-color: white;
  }
  .nav-links.open {
    pointer-events: all;
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
}

@media screen and (max-width: 400px) {
  .project-container .proj {
    margin: 10px;
  }
  .project-container {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */